@CHARSET "ISO-8859-1";

.feedInputStyle{
	margin-bottom: 1%;
	margin-top: 1%;
}

.lineHeight{
  height : 30px !important
}

/* overriding sap.m CSS classes */
.sapMSLIDescription{
	white-space : pre-wrap;
}





